.footer {
  background-color: var(--cian);
  box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.6);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__check {
    font-family: "Oswald";
    text-align: center;
    margin-top: 20px;
    color: white;
  }
  &__social {
    display: flex;
    justify-content: center;
    button {
      font-family: "font social media";
      font-size: 29px;
      margin: 0 30px;
      background: none;
      cursor: pointer;
      color: white;
      &:hover {
        color: var(--black);
      }
    }
  }
  &__copy {
    height: 40px;
    font-family: "Oswald";
    background-color: var(--black);
    color: var(--gold);
    text-align: center;
    line-height: 40px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    &__social {
      button {
        margin: 0 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &__check {
      display: none;
    }
    &__social {
      height: 110px;
      button {
        margin: 0 10px;
      }
    }
  }
}
